
<div class="container">
    <br>


    <div class="row animated fadeIn fast">
        <div class="card-columns">
            <div class="card" *ngFor="let pelicula of ps.peliculas">
                <img [src]="pelicula | peliculaImagen" class="card-img-top img-fluid" [alt]="pelicula.original_title">
                <div class="card-block">
                    <h5 class="card-title">{{pelicula.original_title}}</h5>
                    <p class="card-text text-justify">{{pelicula.overview | slice:0:300}}...</p>
                    <button [routerLink]="['/pelicula', pelicula.id, 'buscar', buscar]" class="btn btn-outline-primary btn-block" onclick="tellLenght()">Ver más...</button>
                </div>
            </div>
        </div>
    </div>